<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k2data.kbc.audit.dao.ExceptionLogMapper">
    <resultMap id="BaseResultMap" type="com.k2data.kbc.audit.model.ExceptionLog">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="c_exception_json" jdbcType="VARCHAR" property="cExceptionJson"/>
        <result column="c_exception_message" jdbcType="VARCHAR" property="cExceptionMessage"/>
        <result column="c_exception_create_time" jdbcType="TIMESTAMP" property="cExceptionCreateTime"/>
    </resultMap>
    <insert id="insert" parameterType="com.k2data.kbc.audit.model.ExceptionLog">
    insert into kbc_t_exception_log (id, c_exception_json, c_exception_message,
      c_exception_create_time)
    values (#{id,jdbcType=INTEGER}, #{cExceptionJson,jdbcType=VARCHAR}, #{cExceptionMessage,jdbcType=VARCHAR}, 
      #{cExceptionCreateTime,jdbcType=TIMESTAMP})
  </insert>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, c_exception_json, c_exception_message, c_exception_create_time
    from kbc_t_exception_log
  </select>
</mapper>